<%- include('partials/header.ejs'); %>

<div class="card">
    <div class="card-body">
      <h2 class="information">Error</h2>
      <div class="card-body-content-error">
          <p class="information">
            No se encuentra en el catálogo 
          </p>
          <button onclick="location.href='/'" class="btn btn-outline-light btn-dark button-error">Back to Home</button>
      </div>
    </div>
</div>

<%- include('partials/footer.ejs'); %>
